<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (userObj) { %>
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create a New TinyURL</a>
          <div class="navbar-text form-inline navbar-right">Signed In As: <a href="/urls"><%= userObj.email %></a></div>
          <form class="form-inline" form action="/logout" method="POST">
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
        <% } else { %>
          <form class="form-inline" form action="/login" method="GET">
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          
          <form class="form-inline" form action="/register" method="GET">
            <button type="submit" class="btn btn-danger">Register</button>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header>